body {
    background-color: rgb(192, 192, 192);
    margin: 0;
    padding: 0;
    color: black;
    width: 100vw;
}

main {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

#drawingCanvas {
    background-color: white;
    /*     background-image: url('../images/paper.png'); */
    border: 1px solid #ccc;
}

.container {
    display: flex;
    gap: 20px;
}

.canvasarea {
    position: relative;
}

.button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
}

.button img {
    width: 100px;
}

#toolbar {
    position: absolute;
    bottom: -15px;
    left: 30px;
    display: flex;
    gap: 10px;
}

.button:hover {
    transform: translateY(-5px);
}